<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/style.css">


</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-header">
        <a class="navbar-brand" href="#">ASHISH KALSI</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#about" onclick="smoothScroll('about')">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portfolio" onclick="smoothScroll('portfolio')">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact" onclick="smoothScroll('contact')">Contact</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-5" id="about">
        <h2>About Me</h2>
        <h4>Seeking Software Developer Role [Python + Javascript]</h4>
        <p>
            Demonstrating a strong foundation in Computer Science & Engineering, I
            am a recent graduate with expertise in software development and
            problem-solving acumen. Proficient in various programming languages and
            technologies. Experienced in Backend and Frontend Projects, Eager to
            Learn New Tech Stacks."
        </p>
    </div>

    <div class="container mt-5" id="competitive-coding">
        <h2 class="text-center">Competitive Coding Platforms</h2>
        <div class="row justify-content-center">
            <div class="col-md-3">
                <a href="https://www.hackerrank.com/profile/ashishkalsi07" target="_blank"
                    class="btn btn-outline-success btn-block mb-3">
                    <img src="https://simpleicons.org/icons/hackerrank.svg" alt="HackerRank" class="img-fluid logo" />
                    HackerRank
                </a>
            </div>
            <div class="col-md-3">
                <a href="https://www.codechef.com/users/ashish_0907" target="_blank"
                    class="btn btn-outline-success btn-block mb-3">
                    <img src="https://simpleicons.org/icons/codechef.svg" alt="CodeChef" class="img-fluid logo" />
                    CodeChef
                </a>
            </div>
            <div class="col-md-3">
                <a href="https://codeforces.com/profile/ashishkalsi07" target="_blank"
                    class="btn btn-outline-success btn-block mb-3">
                    <img src="https://simpleicons.org/icons/codeforces.svg" alt="Codeforces" class="img-fluid logo" />
                    Codeforces
                </a>
            </div>
            <div class="col-md-3">
                <a href="https://www.hackerearth.com/@ashishkalsi07" target="_blank"
                    class="btn btn-outline-success btn-block mb-3">
                    <img src="https://simpleicons.org/icons/hackerearth.svg" alt="HackerEarth" class="img-fluid logo" />
                    HackerEarth
                </a>
            </div>
            <!-- Add more competitive coding platforms as needed -->
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-md-6 text-center">
                <h4>Most Active On</h4>
                <a href="https://github.com/ashishkalsi07" target="_blank"
                    class="btn btn-outline-success btn-block mb-3">
                    <img src="https://simpleicons.org/icons/github.svg" alt="GitHub" class="img-fluid logo" />
                    GitHub
                </a>
            </div>
        </div>
    </div>

    <div class="container mt-5" id="portfolio">
        <h2>Portfolio</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Google API Gemini Chatbot</h5>
                        <p class="card-text">
                            I developed a Chatbot using Python, HTML, and JavaScript,
                            showcasing my skills in full-stack development. The Chatbot
                            utilizes natural language processing to understand user queries
                            and provides dynamic responses.With a responsive frontend built
                            in HTML and JavaScript, the Chatbot offers an intuitive user
                            experience while Python handles backend logic efficiently. This
                            project highlights my ability to create interactive and
                            user-friendly web applications.
                        </p>
                        <a href="https://github.com/ashishkalsi07/ChatBot_Gemini_API" target="_blank"
                            class="btn btn-outline-success btn-block mb-3">
                            <img src="https://simpleicons.org/icons/github.svg" alt="GitHub" class="img-fluid logo" />
                            GitHub
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Weather Application : Weatherly</h5>
                        <p class="card-text">
                            Weatherly, your personal weather companion! Weatherly is a sleek
                            and intuitive weather application designed to provide users with
                            detailed weather reports for any city worldwide. With Weatherly,
                            users can simply input the name of their desired city, and
                            within seconds, receive comprehensive weather information right
                            on their screen.<br />TECH STACK - Python , HTML , CSS ,
                            Javascript <br />Free Weather API
                        </p>
                        <a href="https://github.com/ashishkalsi07/WeatherApplication" target="_blank"
                            class="btn btn-outline-success btn-block mb-3">
                            <img src="https://simpleicons.org/icons/github.svg" alt="GitHub" class="img-fluid logo" />
                            GitHub
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Portfolio</h5>
                        <p class="card-text">
                            This portfolio is a web application developed using Python Flask
                            for the backend and HTML/CSS for the frontend. It presents
                            information about the individual's background, skills, and
                            projects. The Flask framework facilitates the creation of
                            dynamic web pages, while HTML and CSS handle the layout and
                            styling. The use of Flask allows for easy integration of backend
                            functionality, making it suitable for showcasing projects and
                            personal information in a structured manner.
                        </p>
                        <a href="https://github.com/ashishkalsi07/Portfolio" target="_blank"
                            class="btn btn-outline-success btn-block mb-3">
                            <img src="https://simpleicons.org/icons/github.svg" alt="GitHub" class="img-fluid logo" />
                            GitHub
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5" id="contact">
        <h2>Contact Me</h2>
        <div class="contact-item">
            <div class="icon">
                <a href="mailto:ashishkalsi07@gmail.com">
                    <img src="https://simpleicons.org/icons/gmail.svg" alt="Email" class="logo" />
                </a>
                <a href="https://www.linkedin.com/in/ashishkalsi07/" target="_blank">
                    <img src="https://simpleicons.org/icons/linkedin.svg" alt="LinkedIn" class="logo" />
                </a>
                <a href="https://drive.google.com/file/d/1mMbMchvGHUNhQAS1M-8NSeGXalQDA7YJ/view?usp=sharing"
                    target="_blank">
                    <img src="https://simpleicons.org/icons/adobeacrobatreader.svg" alt="CV" class="logo" />
                </a>
            </div>
        </div>
    </div>
    <div style="margin-top: 50px;"></div>

    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted">Designed & Maintained by
                <p style="color: rgb(16, 79, 79)">ASHISH KALSI</p>
            </span>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function smoothScroll(target) {
            $('html, body').animate({
                scrollTop: $('#' + target).offset().top
            }, 100000);
        }
    </script>
</body>

</html>